<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duluper</title>
    <style>
    body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
        }

    h1 {
    color: #007BFF;
        }

    p {
    color: #333;
    margin-bottom: 15px;
        }

    #GoBackBtn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #007BFF;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
          }
          </style>
</head>
<body>
    <button id="GoBackBtn">Go back</button>
    <!--Enter stuff here-->
    <script>
        var GoBackBtn = document.getElementById("GoBackBtn");

        GoBackBtn.onclick = () => {
            window.location.href="different-parts-menu.html";
        }
    </script>
</body>
</html>